.with-pan-and-zoom-interact {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.with-pan-and-zoom-transform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.with-pan-and-zoom-transform > * {
  overflow: visible;
}