.node .node-tags {
  border-width: 1px-solid-black;
}

.node-tags .node-tag {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0 0.1rem;
  background: #ffd;
}

.node .node-attachments {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: blue;
  mask-image: url(/icons/paper-clip.svg), none;
}