.node .node-tags {
  border-width: 1px-solid-black;
}

.node-tags .node-tag {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0 0.1rem;
  background: #ffd;
}

.node .node-markdown-container * {
  margin: 0;
}

.node .node-markdown-container ul {
  padding-left: 1.8rem;
}

.node-wrapper .node-attachments {
  display: inline-block;
  position: absolute;
  top: -1.0rem;
  right: -0.8rem;
  height: 2.5rem;
  width: 2.5rem;
  pointer-events: all;
  transition: 40ms;
}

.node-wrapper .node-attachments:hover {
  top: -1.2rem;
  right: -1.0rem;
  /* transform: translate(0.2rem,-0.2rem); */
  transition: 100ms;
}

.node-attachments .top, .node-attachments .bottom {
  background-color: blue;
  position: absolute;
  width: 100%;
  height: 100%;
}

.node-attachments .top {
  mask-image: url(/icons/paper-clip-inner.svg), none;
}

.node-attachments .bottom {
  mask-image: url(/icons/paper-clip-outer.svg), none;
  z-index: -1;
}